body{
    font-family: Arial, sans-serif;
    margin:0;
    padding:0;
}

header{
    background:#A5896F;
    color:white;
    text-align:center;
    padding:20px;
}

nav{
    background:#A0D4E0;
    padding:10px;
    text-align:center;
}

nav a{
    margin:10px;
    text-decoration:none;
    color:black;
}

main{
    padding:20px;
}

.card{
    background:#F2F0EA;
    padding:15px;
    margin:10px 0;
    border-radius:8px;
}

footer{
    background:#A5896F;
    color:white;
    text-align:center;
    padding:10px;
}
.features{
    display:grid;
    grid-template-columns:1fr;
    gap:15px;
}
.card{
    background:#F2F0EA;
    padding:15px;
    border-radius:8px;
}
/* Tablet */
@media (min-width:768px){

    .features{
        grid-template-columns:1fr 1fr;
    }

}

/* Desktop */
@media (min-width:1024px){

    .features{
        grid-template-columns:1fr 1fr 1fr;
    }

}
.hero{
    text-align:center;
    padding:50px 20px;
    background:#F2F0EA;
}

.hero button{
    background:#A5896F;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:5px;
    cursor:pointer;
}
#about, #contact{
    padding:20px;
    margin-top:20px;
}

#contact button{
    background:#A5896F;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:5px;
    cursor:pointer;
}
.card{
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}